body{
    padding: 700px;
}
.search-form{
    background-color: darkblue;
    align-items: center;
    padding:50px;
}
.panel.panel.default{
    text-align: center;
    line-height: 150%;
    font-size: 20px;
    color: black;
}